In [32]:
import pandas as pd

In [33]:
dg = pd.read_csv("diputados_gastos.csv",sep=";")
dg

C:\Users\smithinator\AppData\Local\Temp\ipykernel_9324\2570159299.py:1: DtypeWarning: Columns (10,11,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  dg = pd.read_csv("diputados_gastos.csv",sep=";")

,cod_diputado,estado,partido,descripcion,empresa,id_empresa,fecha_reembolso,valor_reembolso,partido_tipo,partido_en,partido_tse,partido_nmembers,partido_ideologia1,partido_ideologia2,partido_ideology3,partido_ideologia4,posicion_partido
0,sen1,TO,DEM,FLIGHT TICKET,Cia Aerea - TAM,"2,01E+23",2016-07-29T00:00:00,937.63,Democratas,Democrats,25.0,1095712.0,Economic liberalism,Liberal conservatism,Christian democracy,NaN,Rightwing
1,sen2,BA,DEM,FUEL COSTS,CASCOL COMBUSTIVEIS PARA VEICULOS LTDA,"3,07E+22",2016-06-21T00:00:00,150.00,Democratas,Democrats,25.0,1095712.0,Economic liberalism,Liberal conservatism,Christian democracy,NaN,Rightwing
2,sen2,BA,DEM,FUEL COSTS,CASCOL COMBUSTIVEIS PARA VEICULOS LTDA,"3,07E+22",2016-06-01T00:00:00,100.00,Democratas,Democrats,25.0,1095712.0,Economic liberalism,Liberal conservatism,Christian democracy,NaN,Rightwing
3,sen2,BA,DEM,FUEL COSTS,MEGA POSTO BERIMBAU LTDA - ME,"1,86E+22",2016-04-19T00:00:00,168.07,Democratas,Democrats,25.0,1095712.0,Economic liberalism,Liberal conservatism,Christian democracy,NaN,Rightwing
4,sen2,BA,DEM,FUEL COSTS,MEGA POSTO BERIMBAU LTDA - ME,"1,86E+22",2016-08-13T00:00:00,239.57,Democratas,Democrats,25.0,1095712.0,Economic liberalism,Liberal conservatism,Christian democracy,NaN,Rightwing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339084,NaN,NaN,NaN,MEAL COSTS,WASHINGTON KLAY CARDOSO,"2,35E+24",2016-04-29T00:00:00,2100.00,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
339085,NaN,NaN,NaN,MEAL COSTS,WASHINGTON KLAY CARDOSO,"2,35E+24",2016-04-29T00:00:00,750.00,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
339086,NaN,NaN,NaN,MEAL COSTS,WASHINGTON KLAY CARDOSO,"2,35E+24",2016-05-31T00:00:00,2670.00,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
339087,NaN,NaN,NaN,MEAL COSTS,WASHINGTON KLAY CARDOSO,"2,35E+24",2016-06-30T00:00:00,2400.00,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan
339088,NaN,NaN,NaN,MEAL COSTS,WASHINGTON KLAY CARDOSO,"2,35E+24",2016-08-30T00:00:00,1300.00,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan,Nan