In [8]:
import pandas as pd

In [9]:
st = pd.read_csv("data_stores.csv")

In [15]:
las_vegas = st.loc[st["City"]=="Las Vegas",["Longitude","Latitude","City"]].reset_index(drop=True)

In [16]:
las_vegas

     Longitude  Latitude       City
0      -115.20     36.12  Las Vegas
1      -115.15     36.04  Las Vegas
2      -115.17     36.13  Las Vegas
3      -115.28     36.22  Las Vegas
4      -115.18     36.11  Las Vegas
..         ...       ...        ...
151    -115.18     36.10  Las Vegas
152    -115.21     36.24  Las Vegas
153    -115.30     36.11  Las Vegas
154    -115.17     36.09  Las Vegas
155    -115.30     36.14  Las Vegas

[156 rows x 3 columns]