In [1]:
import pandas as pd

In [2]:
order_leads = pd.read_csv("order_leads.csv",parse_dates=[3])
sales_team = pd.read_csv("sales_team.csv",parse_dates=[3])

C:\Users\smithinator\AppData\Local\Temp\ipykernel_4184\991520719.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales_team = pd.read_csv("sales_team.csv",parse_dates=[3])

In [3]:
order_leads

,Order Id,Company Id,Company Name,Date,Order Value,Converted
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0
...,...,...,...,...,...,...
99995,HKZFX556ZQRZJZWR,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2017-11-06,7516,0
99996,962CSDMAJ49E0CRK,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2018-08-02,442,1
99997,ZW7RO9TLL6EVVJEC,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2014-11-02,8544,0
99998,LNKGIWMZ9RT49IE9,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2017-04-01,6650,0
99999,X9Y21H4JWX6OGC2Z,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2016-07-27,953,0

In [ ]:
df = pd.merge(order_leads,sales_team,on=[""])

In [4]:
sales_team

,Sales Rep,Sales Rep Id,Company Name,Company Id
0,William Taylor,ZTZA0ZLYZR85PTUJ,Melancholy Social-Role,D0AUXPP07H6AVSGD
1,William Taylor,ZTZA0ZLYZR85PTUJ,Pee-Wee Pigeon,TJW99R4RWH02INII
2,William Taylor,ZTZA0ZLYZR85PTUJ,Vaginal 36-Year-Old,3S20IO1O1DYXMUNU
3,William Taylor,ZTZA0ZLYZR85PTUJ,Unhurried Musician'S,FDWW0TQRPGMVI2A7
4,William Taylor,ZTZA0ZLYZR85PTUJ,Comprehensive Lists,C30FY83UNLVBA0O3
...,...,...,...,...
4614,Ida Woodward,LF3CPWWZKSNB1AXI,Unauthorized Increases,654ZMAXSV11BOMMI
4615,Ida Woodward,LF3CPWWZKSNB1AXI,Atom-Like Principle,42AO6UOXN0GXVHFQ
4616,Ida Woodward,LF3CPWWZKSNB1AXI,Congratulatory Economist,4B714VS0FWLGBSMU
4617,Ida Woodward,LF3CPWWZKSNB1AXI,Readable Pilots,G4D892KB5W0UCPR4
4618,Ida Woodward,LF3CPWWZKSNB1AXI,Trade-Preparatory Quarterbacks,APH243SK72T90MPS