In [170]:
import pandas as pd

In [171]:
sbt = pd.read_csv("seattle_bus_times.csv")
sbt

         OPD_DATE  VEHICLE_ID  ...  SCH_STOP_TM ACT_STOP_TM
0      2016-03-26        6201  ...     01:11:57    01:13:19
1      2016-03-26        6201  ...     23:19:57    23:16:13
2      2016-03-26        6201  ...     21:19:57    21:18:46
3      2016-03-26        6201  ...     19:04:57    19:01:49
4      2016-03-26        6201  ...     16:42:57    16:42:39
...           ...         ...  ...          ...         ...
39152  2016-05-27        6215  ...     10:50:25    10:49:50
39153  2016-05-27        6215  ...     13:02:27    13:07:10
39154  2016-05-27        6215  ...     15:14:29    15:15:55
39155  2016-05-27        6215  ...     17:26:29    17:25:40
39156  2016-05-27        6216  ...     18:06:29    18:07:01

[39157 rows x 9 columns]