<a href="https://colab.research.google.com/github/WSmithDR/espol-bootcamp-data_science/blob/m2-project/Plantilla_Proyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exploración y Segmentación de Clientes
#### Super Bank


1.   Integrante 1:
2.   Integrante 2:

In [ ]:
import pandas as pd
sb = pd.read_csv("superbank.csv")

## 1. Análisis Exploratorio de Datos

## 1.1 Tratamiento de Datos Faltantes

In [8]:
sb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8055 non-null   float64
 2   BALANCE_FREQUENCY                 8055 non-null   float64
 3   PURCHASES                         8055 non-null   float64
 4   ONEOFF_PURCHASES                  8055 non-null   float64
 5   INSTALLMENTS_PURCHASES            8055 non-null   float64
 6   CASH_ADVANCE                      8055 non-null   float64
 7   PURCHASES_FREQUENCY               8055 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8055 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8055 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8055 non-null   float64
 11  CASH_ADVANCE_TRX                  8055 non-null   float64
 12  PURCHASES_TRX                     8055 non-null   float64
 13  CREDIT_LIMIT                      8054 non-null   float64
 14  PAYMENTS                          8055 non-null   float64
 15  MINIMUM_PAYMENTS                  7782 non-null   float64
 16  PRC_FULL_PAYMENT                  8055 non-null   float64
 17  TENURE                            8055 non-null   float64
dtypes: float64(17), object(1)
memory usage: 1.2+ MB

In [10]:
sb.isnull().sum()

CUST_ID                                0
BALANCE                              895
BALANCE_FREQUENCY                    895
PURCHASES                            895
ONEOFF_PURCHASES                     895
INSTALLMENTS_PURCHASES               895
CASH_ADVANCE                         895
PURCHASES_FREQUENCY                  895
ONEOFF_PURCHASES_FREQUENCY           895
PURCHASES_INSTALLMENTS_FREQUENCY     895
CASH_ADVANCE_FREQUENCY               895
CASH_ADVANCE_TRX                     895
PURCHASES_TRX                        895
CREDIT_LIMIT                         896
PAYMENTS                             895
MINIMUM_PAYMENTS                    1168
PRC_FULL_PAYMENT                     895
TENURE                               895
dtype: int64

In [11]:
sb.head(10)

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,NaN,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,NaN,201.802084,NaN,0.0,12.0
1,C10002,3202.467416,NaN,0.00,NaN,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,NaN,12.0
2,C10003,2495.148862,1.000000,NaN,773.17,0.00,NaN,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.0,12.0
3,C10004,NaN,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,NaN,0.0,12.0
4,C10005,817.714335,1.000000,16.00,NaN,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.0,12.0
5,C10006,NaN,1.000000,1333.28,NaN,1333.28,0.000000,0.666667,0.000000,0.583333,0.000000,0.0,8.0,1800.0,1400.057770,2407.246035,0.0,12.0
6,C10007,627.260806,1.000000,NaN,6402.63,688.38,0.000000,1.000000,1.000000,1.000000,0.000000,0.0,NaN,13500.0,6354.314328,198.065894,NaN,12.0
7,C10008,1823.652743,1.000000,436.20,0.00,436.20,0.000000,NaN,0.000000,1.000000,0.000000,NaN,12.0,2300.0,NaN,532.033990,0.0,NaN
8,C10009,1014.926473,1.000000,861.49,NaN,200.00,0.000000,0.333333,0.083333,0.250000,0.000000,0.0,5.0,7000.0,688.278568,311.963409,0.0,12.0
9,C10010,152.225975,0.545455,1281.60,NaN,0.00,0.000000,0.166667,0.166667,0.000000,0.000000,0.0,3.0,11000.0,1164.770591,100.302262,0.0,NaN

## 1.2  Detección y Eliminación de Valores atípicos

## 1.3 Transformación de datos

## 1.4 Anallisis Univariado

## 1.5 Generación de Insights

# 2. Clustering

## 2.1 Aplicar Clustering

## 2.2 Caracterización de Clusters